{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block content %}
<h1 class="text-center">Долги</h1>
<h3 class="text-right">(до {% now "1.m.y" %})</h3>


{% if debts %}
<table class="table">
  <thead>
    <tr>
      <th>ТСЖ</th>
      <th>Номер договора</th>
      <th>Долг</th>
    </tr>
  </thead>
  <tbody>
{% for debt in debts %}
    <tr>
        <td>{{ debt.0 }}</td>
        <td>{{ debt.1 }}</td>
        <td>{{ debt.2 }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}