*.py[cod]
hoa_project/static/admin/
hoa_project/static/bootstrap_toolkit/
hoa_project/hoa_project/secret.py

# C extensions
*.so

.DS_Store
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
